@charset "UTF-8";

body {
    width: 100%;
    background-color: #1E1E2F;
    font-family: 'Klee One', cursive;
    line-height: 1.6;
    // overflow-x: hidden;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}


.wrapper {
    display: flex;
    // overflow-x: auto;
    width: 100%;
    padding-inline: 3%;
    margin-inline: auto;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 10px 0 20px 0;
    border: 2px solid red;
}

.sec-title {
    text-align: center;
    font-size: 48px;
    margin-block: 80px 40px;
    color: #FFD966;
}

.changePic {
    animation: imgfade 4s infinite;
    opacity: 0;
}

@keyframes imgfade {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

// header
#header {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding: 16px 24px;
    position: fixed;
    z-index: 10;
    background-color: #1E1E2F;
    line-height: 20px;

    .logo {
        max-width: 300px;
        display: block;
    }

    ul {
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-left: 1%;
        list-style: none;
        margin: 0;
        padding: 0;
        padding-left: 40px;
        white-space: nowrap;

        li {
            white-space: nowrap;
            flex: 0 0 auto;
            margin-right: 40px;

            a {
                display: inline-block;
                text-decoration: none;
                color: #FFD966;
                font-size: 24px;
            }
        }
    }
}

// mainvisual
.mainvisual {
    height: calc(100vh - 0px);
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;


    }

    h1 {
        position: absolute;
        top: 23%;
        left: 280px;
        transform: translateY(-23%);
        font-size: 48px;
        color: #EAEAEA;
        margin: 0 auto;
        text-align: center;
    }

}

// menu


.slick-area {
    max-width: 1300px;
    padding: 20px 0;
    margin: 0 auto;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 800px;
    width: 100%;
    background: #1E1E2F;
    border-radius: 8px;
    overflow: hidden;
    text-align: left;
    padding: 0 10px;

    img {
        width: 100%;
        height: auto;
        display: block;
        aspect-ratio: 4/3;
        object-fit: cover;
    }
}

.item-info {
    background-color: #44475A;
    color: #EAEAEA;
    padding: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
        font-size: 32px;
        margin-bottom: 8px;
    }

    p {
        font-size: 24px;
        line-height: 1.6;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

// concept
.concept {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

.text-block {
    min-width: 300px;
    max-width: 500px;
    display: flex;
    flex-direction: column;

    p {
        font-size: 36px;
        line-height: 1.8;
        color: #FFD966;
        text-align: center;
        margin-left: 20px;
        padding-right: 30px;
    }
}

.slide {
    min-width: 300px;
    align-items: center;
    margin-left: 50px;
    margin-top: 30px;

    img {
        object-fit: cover;
        max-width: 500px;
        height: auto;
        border-radius: 8px;
        margin-left: 30px;
    }
}


.center-pic {
    max-width: 1300px;

    img {
        width: 400px;
        border-radius: 8px;
        margin-top: 30px;
        margin-left: 120px;
    }
}


// access
#access {
    margin-inline: auto;
    padding: 40px 20px;
    position: relative;
}


.access-list {
    font-size: 36px;
    color: #FFD966;
    min-width: 300px;
    max-width: 500px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;


    .row {
        display: flex;
        flex-wrap: wrap;
    }

    dt {
        font-weight: bold;
    }

    dd {
        margin: 0 20px;
        text-align: left;
    }

    a {
        color: #FFD966;
        text-decoration: underline;
    }
}

// under-pic
.under-pic {
    position: relative;
    display: block;


    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFD966;
        font-size: 36px;
        text-align: center;
        z-index: 1;
        font-size: clamp(28px, 4vw, 48px);
        margin-block: clamp(30px, 6vw, 60px);
        font-weight: 400;
        letter-spacing: 0.05em;
    }
}



.footer-1 {
    display: flex;
    justify-content: space-between;
    background-color: #44475A;
    color: #FFD966;
    padding: 20px 90px 0 20px;
    font-size: 32px;
    text-align: center;
}



.footer-logo img {
    display: block;
    max-width: 300px;
    height: auto;
    margin-left: 50px;
}

.footer-list {
    display: block;
    list-style: none;
    margin: 20px;
    margin-right: 50px;


    li {
        margin-bottom: 20px;

        &:first-child {
            margin-top: 20px;
        }


        &:last-child {
            margin-bottom: 0;
        }

        a {
            text-decoration: none;
            color: #FFD966;
            font-size: 32px;
            // padding-bottom: 70px;
        }
    }



}

// footer
footer {
    background-color: #44475A;
    color: #FFD966;
    padding: 0 40px;
    font-size: 16px;
    text-align: center;

}

// md
@media (max-width:900px) {
    .wrapper {
        overflow-x: auto;
    }

    .container {
        display: block;
        object-fit: contain;
        max-width: 356px;
        margin-left: 20px;
    }

    header {
        padding-left: 4%;

    }

    #header {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        ul {
            padding: 8px 5px;
        }

    }

    .mainvisual h1 {
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
        font-size: 32px;
    }

    .concept p {
        margin-left: 0;
    }


    #access {
        padding-left: 0;
    }

    .slide {
        margin-left: 0;
        align-items: center;

        img {
            max-width: 100%;
            object-fit: contain;
            margin-right: 0;
            margin-left: 0;
            align-items: center;
        }
    }

    .slick-prev,
    .slick-next {
        display: none;
    }

    .text-block p {
        display: block;
    }

    .center-pic img {
        max-width: 500px;
        margin-left: 20px;
    }

    .footer-1 {
        display: block;
        padding-bottom: 30px;
    }

    .footer-list {
        text-align: center;
        margin-left: 90px;
    }

    .footer-logo img {
        margin-left: 20px;
    }

    .under-pic p {
        font-size: 22px;
        top: 40%;
    }
}